header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(222, 212, 212);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 25px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
  user-select: none;
}

.youtube-logo {
  height: 20px;
  user-select: none;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 0px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 34px;
  border: 1px solid rgb(195, 195, 195);
  outline: none;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .03);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px 10px;
  flex: 1;
  font-size: 16px;
}

.search-bar::placeholder {
  font-size: 16px;
}

.middle-section  .search-btn {
  border: 1px solid rgb(195, 195, 195);
  cursor: pointer;
  position: relative;
}

.search-btn .tooltip,.voice-btn .tooltip,.upload-icon-container .tooltip,
.yt-apps-container .tooltip,.notification-container .tooltip {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  left: 0px;
  bottom: -2.2rem;
  font-size: .8em;
  padding: 6px 6px;
  border-radius: 4px;
  color: #fff;
  background-color: gray;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  white-space: nowrap;
}

.search-btn:hover .tooltip,.voice-btn:hover .tooltip,.upload-icon-container:hover .tooltip,.yt-apps-container:hover .tooltip,.notification-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 24px;
  padding: 5px 12px;
  margin-top: -2px;
  user-select: none;
  position: relative;
}

.middle-section .voice-btn {
  border: none;
  cursor: pointer;
  position: relative;
}

.voice-search-icon {
  height: 24px;
  padding: 4px 10px;
  user-select: none;
}

.right-section {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.upload-icon, .youtube-apps-icon, 
.notification-icon{
  height: 24px;
  user-select: none;
  cursor: pointer;
}

.notification-container, .upload-icon-container, .yt-apps-container {
  position: relative;
}

#received-notification {
  position: absolute;
  top: -3px;
  right: -2px;
  font-size: 10px;
  background-color: red;
  color: #fff;
  padding: 2px 4px;
  border-radius: 100%;
  cursor: pointer;
}

.user-profile {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}